.packet-analyzer__input {
    margin-bottom: 1rem;

    textarea {
        background-color: var(--light-component-background-color);
        min-height: 6rem;
        color: var(--text-color);
    }
}
