.packet-analyzer__input {
    margin-bottom: 1rem;

    textarea {
        min-height: 7rem;
        background-color: rgb(255 255 255 / 75%);

        @media (prefers-color-scheme: dark) {
            color: white;
            background-color: #1e1314;
        }
    }
}
