.packet-analyzer__output {
    display: flex;

    textarea {
        margin-bottom: 1rem;
        background-color: rgb(0 0 0 / 50%);
        min-height: 20rem;
        color: white;
    }
}

.packet-analyzer__outputs {
    flex: 1;
    margin-right: 1rem;
}
