.packet-analyzer__structure {
    display: flex;
    position: relative;
    padding: 0.25rem 0;

    &:hover .packet-analyzer__options {
        display: block;
    }

    &:hover .packet-analyzer__label {
        border-color: rgb(0 0 0 / 15%);
    }
}

.packet-analyzer__slot-label {
    margin-right: 0.5rem;
    border: solid 1px black;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
    min-width: 2.5rem;
    color: rgb(0 0 0 / 75%);
    font-size: 0.75rem;
    font-weight: bold;

    @media (prefers-color-scheme: dark) {
        border-color: rgb(255 255 255 / 30%);
        color: white;
    }
}
