.packet-analyzer__structure {
    display: flex;
    margin-bottom: 0.5rem;
    position: relative;

    &:hover .packet-analyzer__options {
        display: block;
    }
}

.packet-analyzer__slot-label {
    font-size: 0.75rem;
    color: rgb(0 0 0 / 75%);
    font-weight: bold;
    border-radius: 0.25rem;
    border: solid 1px black;
    padding: 0.1rem 0.25rem;
    min-width: 2.5rem;
    margin-right: 0.5rem;

    @media (prefers-color-scheme: dark) {
        color: white;
        border-color: rgb(255 255 255 / 30%);
    }
}
