.packet-analyzer__section {
    background-color: var(--light-component-background-color);
    color: var(--text-color);
}

.packet-analyzer__section-item {
    &:hover {
        .packet-analyzer__label {
            background-color: var(--darken-contrast-05);
        }
    }
}
