.toast__bar {
    .toast--active & {
        animation: load 5s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

@keyframes load {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}
