.packet-analyzer__raw-data {
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    outline: none;
    border: solid 1px var(--darken-contrast-100);
    border-radius: 0.25rem;
    background-color: var(--darken-contrast-100);
    padding: 0.25rem 0.5rem;
    width: 100%;
    color: var(--contrast-black);
}
