.packet-analyzer__raw-data {
    border: solid 1px var(--darken-contrast-05);
    background-color: var(--darken-contrast-05);
    color: var(--contrast-black);
}

.packet-analyzer__raw-data-modal-trigger {
    background-color: var(--darken-contrast-05);
    color: var(--contrast-black);

    &:hover {
        background-color: var(--darken-contrast-15);
    }
}
