@use "@/src/styles/variables.scss";

body {
    font-family: variables.$text-font;
    font-synthesis: none;
}

h1 {
    font-family: variables.$primary-font;
}

h2 {
    font-family: variables.$text-font;
}

textarea {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
    resize: vertical;
}

.root {
    background: url("@/assets/images/light-background.png"),
        linear-gradient(180deg, rgb(225 224 255) 0%, rgb(214 236 248) 20%, rgb(181 226 252) 100%);
    background-position: bottom left;
    background-repeat: repeat-x;
    min-height: 100vh;

    @media (prefers-color-scheme: dark) {
        background: url("@/assets/images/dark-background.png"),
            linear-gradient(180deg, rgb(17 15 45) 0%, rgb(34 32 79) 20%, rgb(46 44 82) 100%);
        background-position: bottom left;
        background-repeat: repeat-x;
    }
}

.app {
    @media (prefers-color-scheme: dark) {
        padding-bottom: 20rem;
    }
}

.modal {
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

    &--show {
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
}
