$white-color: #fff;
$black-color: #000;

$darken-15: rgba($black-color, 0.15);
$darken-35: rgba($black-color, 0.35);

$lighten-15: rgba($white-color, 0.15);
$lighten-35: rgba($white-color, 0.35);
$lighten-95: rgba($white-color, 0.95);

:root {
    --darken-contrast-15: #{$darken-15};
    --darken-contrast-35: #{$darken-35};
    --light-border-color: #{$darken-15};
    --light-component-background-color: #{$lighten-95};

    @media (prefers-color-scheme: dark) {
        --darken-contrast-15: #{$lighten-15};
        --darken-contrast-35: #{$lighten-35};
        --light-border-color: #{$lighten-15};
        --light-component-background-color: #{$darken-35};
    }
}
