:root {
    --background-color: #{$light-background-color};
    --text-color: #{$black-color};
    --contrast-white: #{$black-color};
    --contrast-black: #{$white-color};
    --light-component-background-color: #{$light-component-background-color};
    --dark-component-background-color: #{$dark-component-background-color};

    @media (prefers-color-scheme: dark) {
        --background-color: #{$dark-background-color};
        --text-color: #{$white-color};
        --contrast-white: #{$white-color};
        --contrast-black: #{$black-color};
        --light-component-background-color: #{$dark-component-background-color};
        --dark-component-background-color: #{$light-component-background-color};
    }
}

body {
    margin: 0;
    background-color: var(--background-color);
    background-image: url("@/assets/images/npc.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 50% auto;
    padding-top: 2rem;
    padding-bottom: 16rem;
    text-align: center;
    text-rendering: optimizelegibility;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
}

body,
input,
textarea {
    color: var(--text-color);
}

h1 {
    margin: 0 0 2rem;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

textarea {
    box-sizing: border-box;
    outline: none;
    border-radius: 0.25rem;
    border-color: rgb(0 0 0 / 10%);
    padding: 0.25rem 0.5rem;
    width: 100%;
    resize: vertical;
}

ul {
    margin: 0;
    padding: 0;
}
