:root {
    --background-color: #{$light-background-color};
    --text-color: #{$black-color};
    --contrast-white: #{$white-color};
    --contrast-black: #{$black-color};
    --darken-contrast-100: #{$darken-100};
    --light-border-color: #{$darken-200};
    --light-component-background-color: #{$lighten-900};
    --dark-component-background-color: #{$darken-500};

    @media (prefers-color-scheme: dark) {
        --background-color: #{$dark-background-color};
        --text-color: #{$white-color};
        --contrast-white: #{$black-color};
        --contrast-black: #{$white-color};
        --darken-contrast-100: #{$lighten-100};
        --light-border-color: #{$lighten-200};
        --light-component-background-color: #{$darken-500};
        --dark-component-background-color: #{$lighten-900};
    }
}

body {
    margin: 0;
    background: url("@/assets/images/background.png"),
        linear-gradient(180deg, rgb(0 129 201) 0%, rgb(48 151 208) 20%, rgb(73 180 239) 100%);
    background-position: bottom left;
    background-repeat: repeat-x;
    padding-top: 2rem;
    padding-bottom: 30rem;
    text-align: center;
    text-rendering: optimizelegibility;
    font-family: $text-font;
    font-synthesis: none;

    @media (prefers-color-scheme: dark) {
        background: url("@/assets/images/background.png"),
            linear-gradient(180deg, rgb(17 15 45) 0%, rgb(34 32 79) 20%, rgb(46 44 82) 100%);
        background-position: bottom left;
        background-repeat: repeat-x;
    }
}

body,
input,
textarea {
    color: var(--text-color);
}

input,
button {
    font-family: $text-font;
}

h1 {
    margin: 1rem 0;
    color: $white-color;
    font-family: $primary-font;
    font-size: 4.5rem;
}

h2 {
    margin: 0 0 3rem;
    color: $white-color;
    font-family: $text-font;
    font-size: 1.5rem;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

li {
    list-style: none;
}

textarea {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
    resize: vertical;
}

ul {
    margin: 0;
    padding: 0;
}
