@use "@/assets/scss/fonts.scss";
@use "@/assets/scss/colors.scss";

body {
    margin: 0;
    text-align: center;
    text-rendering: optimizelegibility;
    font-family: fonts.$text-font;
    font-synthesis: none;
}

body,
input,
textarea {
    color: var(--text-color);
}

input,
button {
    font-family: fonts.$text-font;
}

h1 {
    margin: 0 0 1rem;
    color: var(--contrast-black);
    font-family: fonts.$primary-font;
    font-size: 4.5rem;
}

h2 {
    margin: 0 0 3rem;
    color: var(--contrast-black);
    font-family: fonts.$text-font;
    font-size: 1.5rem;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

li {
    list-style: none;
}

textarea {
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    width: 100%;
    resize: vertical;
}

ul {
    margin: 0;
    padding: 0;
}

[draggable="true"] {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}
