@font-face {
    font-family: moranga;
    font-display: swap;
    src: url("/assets/fonts/moranga-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("/assets/fonts/inter-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
