@use "@/assets/scss/colors.scss";

.packet-analyzer__main {
    display: flex;

    textarea {
        margin-bottom: 1rem;
        border: none;
        background-color: rgb(0 0 0 / 50%);
        min-height: 20rem;
        color: colors.$white-color;
    }
}
