.structure-button {
    border: solid 1px var(--light-border-color);
    color: var(--text-color);

    &:hover {
        background-color: var(--darken-contrast-05);
        color: var(--contrast-black);
    }
}
