.packet-analyzer__structures {
    border-top: solid 1px var(--darken-contrast-05);
}

.packet-analyzer__option {
    border: solid 1px var(--text-color);
    color: var(--text-color);

    &:hover {
        background: var(--darken-contrast-05);
    }
}
