.packet-analyzer__unit {
    color: var(--contrast-white);

    &--opcode {
        background-color: #d64f4f;
    }

    &--byte {
        background-color: #c74fd6;
    }

    &--short {
        background-color: #7d4fd6;
    }

    &--int {
        background-color: #16ab2f;
    }

    &--float {
        background-color: #1a75d6;
    }

    &--long {
        background-color: #514fd6;
    }

    &--asciistr,
    &--maplestr {
        background-color: #d6a64f;
    }

    &--coordsb,
    &--coordss,
    &--coordsf {
        background-color: #339e9e;
    }
}
