:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizelegibility;
}

.app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: auto;
    padding-top: 2rem;
    max-width: 70rem;
}

body {
    background-color: #ffefef;
    margin: 0;
    padding-bottom: 20rem;
    background-image: url("@/assets/images/npc.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50% auto;
}

h1 {
    margin: 0 0 2rem;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    border-color: rgb(0 0 0 / 10%);
    border-radius: 0.25rem;
    outline: none;
}

input,
textarea {
    color: rgb(0 0 0 / 90%);
}

ul {
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: #3d0000;
    }

    .app,
    input,
    textarea {
        color: white;
    }
}
