@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: moranga;
    font-display: swap;
    src: url("/packet-analyzer/fonts/moranga-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
